<div>
<div id="container" class="stockChart"></div>
</div>
<hr/> 
<form role="form" ng-submit="addStocks()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="stock" placeholder="add stock symbol" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>

    <div>
  <p class="input-group" ng-repeat="stock in stocks" style="padding:5px 10px; cursor: move;">
    <input type="text" ng-model="stock" class="form-control">
      <span class="input-group-btn">
    <button class="btn btn-danger" ng-click="removeStocks()" aria-label="Remove">X</button>
  </span>
  </p>
    </div>
